@import '_normalize.less';
@import '_fonts';
@import '_media';
@import '_settings';
@import '_variables';

body {
  min-height: 100vh;
  min-width: 480px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
