@import '_normalize.less';
@import '_fonts';
@import '_media';
@import '_settings';
@import '_variables';

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: block;
  background-color: @button-bg;
  color: @button-color;
  font-weight: 600;
  border-radius: 6px;
  padding: 0;
  border: 0;
}

.page-header {
  margin-bottom: 75px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media @desktop {
    padding-top: 55px;
    grid-template-rows: auto auto auto;
  }
}

.contacts {
  grid-column: span 3;
  .reset-list;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  background-color: @contacts-mobile-bg;

  @media @desktop {
    grid-column: span 1;
    grid-row: span 2;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 5px;
    align-self: center;

    &__link {
      font-size: 18px;
    }
  }
}

.logo {
  @media @desktop {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
  }
}

.whatsapp-link,
.email-link {
  position: relative;
  color: @text-color;
  text-decoration: none;
}

.whatsapp-link {
  padding-left: 40px;

  &::before {
    content: '';
    width: 28px;
    height: 25px;
    position: absolute;
    left: 0;
    top: -2px;
    background-image: url('../img/whatsapp.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.email-link {
  padding-left: 35px;

  &::before {
    content: '';
    width: 28px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0px;
    background-image: url('../img/email.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.social-list {
  .reset-list;
  display: grid;
  grid-template-columns: repeat(3, 26px);
  gap: 18px;
  align-self: center;
  margin-left: 60px;

  @media @desktop {
    justify-self: end;
  }
}

.social-list__link {
  display: block;
}

.menu-button {
  justify-self: right;
  margin-right: 25px;
  padding: 0;
  align-self: center;
  border: 0;
  background-color: transparent;

  @media @desktop {
    display: none;
  }
}

.site-nav {
  grid-column: span 3;

  @media @desktop {
    margin-top: 35px;
  }
}

.site-nav__list {
  .reset-list;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media @desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 10px;

  @media @desktop {
    margin-bottom: 0;
  }
}

.site-nav__item {
  @media @desktop {
    flex-grow: 1;
  }
}

.site-nav__link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: @text-color;
  text-align: center;

  @media @desktop {
    font-size: 18px;
    font-weight: 600;
    background-color: @bg-menu-items-desktop;
    box-shadow: 0px 1px 2px rgba(88, 88, 88, 0.2), 0px 2px 4px rgba(88, 88, 88, 0.1);
    border-radius: 6px;
  }
}

.get-consult {
  width: 363px;
  height: 38px;
  justify-self: center;
  margin-top: 15px;
  grid-column: span 3;

  @media @desktop {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;
  }
}

.menu-hide {
  display: none;

  @media @desktop {
    display: block;
  }
}

.contacts__item_address {
  display: none;

  @media @tablet {
    display: block;
  }

  @media @desktop {
    padding-top: 5px;
    font-size: 18px;
  }
}

.promo {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 25px;

  @media @desktop {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 45px;
  }

  &__title {
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 35px;

    @media @desktop {
      max-width: 780px;
      font-size: 48px;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 130%;

    @media @desktop {
      max-width: 670px;
      font-size: 18px;
    }
  }
}

.services {
  padding: 30px 25px 25px;
  border-top: 1px solid @services-border;
  border-bottom: 1px solid @services-border;

  @media @desktop {
    padding: 45px 0 70px;
  }

  &__list {
    .reset-list;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }

  &__wrapper-img {
    width: 106px;
    height: 106px;
    border-radius: 11px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    @media @desktop {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;

    @media @desktop {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 10px;
    }
  }

  &__description {
    @media @desktop {
      font-size: 18px;
      line-height: 130%;
    }
  }
}

.product {
  padding: 30px 25px;

  @media @desktop {
    padding: 80px 0 110px;
  }

  &__items {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));

    @media @desktop {
      gap: 90px 60px;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
  }

  &-card__title {
    display: flex;
    align-items: center;
    min-height: 82px;
    margin-bottom: 25px;
    padding: 0 40px;
    color: @button-color;
    background-color: @accent-color;
    font-size: 20px;
    line-height: 130%;
    border-radius: 14px 14px 0px 0px;
  }

  &-card__offer {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 40px;
  }

  &-card__price {
    margin-right: 25px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }

  &-card__slash {
    display: none;

    @media @desktop {
      display: inline;
    }
  }

  &-card__description {
    color: @input-placeholder-color;

    @media @desktop {
      font-size: 18px;
    }
  }

  &-card__list {
    .reset-list;
    padding: 0 40px;
    margin-bottom: 50px;
  }

  &-card__item {
    padding-left: 35px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 10px;
      background-image: url(../img/check-mark.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 5px;
      left: 0;
    }
  }

  &-card__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__button {
    margin-left: 40px;
    margin-top: auto;
    padding: 15px 85px 15px 30px;
    position: relative;
    align-self: flex-start;
    transition: background-color 0.3s;

    @media @desktop {
      padding: 15px 113px 15px 35px;
      font-size: 18px;
    }

    &:hover,
    &:focus {
      background-color: @accent-color;
    }

    &:focus-visible {
      outline: unset;
    }

    &_black {
      background-color: @text-color;
    }

    &_unit {
      grid-column: span 2;
      justify-self: start;
      margin-top: 20px;
      align-self: end;

      @media @desktop {
        margin-left: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url('../img/right-arrow-icon.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      right: 33px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-unit {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    @media @desktop {
      padding-left: 45px;
      padding-right: 55px;
    }

    &__img {
      margin-right: 25px;
      grid-row: span 2;
      justify-self: start;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 36px;
      line-height: 49px;
      font-weight: 700;
    }

    &__description {
      margin-top: 0;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.about {
  padding-bottom: 100px;

  &__wrap-img {
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin-top: 0;
    margin-left: 25px;
    padding: 0 25px 0 12px;
    font-size: 30px;
    line-height: 40px;
    border-radius: 6px;
    color: @button-color;
    background-color: @accent-color;

    @media @desktop {
      margin-left: 0;
      font-size: 48px;
      line-height: 54px;
    }
  }

  &__wrap-description {
    margin-left: 25px;
    margin-right: 25px;

    @media @desktop {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    padding: 22px 22px 10px 22px;
    border: 1px solid @border-description-about;
    border-radius: 15px 15px 0 0;

    @media @desktop {
      padding: 0;
      border-radius: 0;
      border: 0;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__dotters {
    @media @desktop {
      display: none;
    }
  }

  &__full-description {
    display: none;

    @media @desktop {
      display: inline;
    }
  }

  &__read-more {
    display: block;
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-radius: 0 0 15px 15px;
    background-color: @input-bg;

    @media @desktop {
      display: none;
    }
  }
}

.video {
  padding: 25px 0 35px;
  background-color: @bg-section-youtube;

  @media @desktop {
    padding: 50px 0;
  }

  &__grid {
    display: grid;
    gap: 50px;

    @media @desktop {
      grid-template-columns: 350px 1fr;
    }
  }

  &__wrap-text {
    padding: 0 40px;

    @media @desktop {
      padding: 70px 0 0;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 0;
    line-height: 22px;

    @media @desktop {
      font-size: 18px;
    }
  }

  &__wrap-img {
    text-align: center;

    @media @desktop {
      text-align: right;
    }
  }
}

.feature {
  padding: 70px 65px;

  @media @desktop {
    padding: 75px 0 50px;
    border-bottom: 1px solid @border-color-section-feature;
  }

  &__cards {
    .reset-list;
    display: grid;
    gap: 40px 70px;

    @media @desktop {
      grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 13px rgba(100, 100, 111, 0.2);
  }

  &__wrap-img {
    width: 140px;
    height: 95px;
    margin-top: 50px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 33px;
  }

  &__description {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 90px;
    text-align: center;

    @media @desktop {
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.order {
  padding: 0 25px 60px;

  @media @desktop {
    padding: 60px 0 70px;
  }

  &__wrap-input {
    grid-column: span 2;

    @media @desktop {
      grid-column: span 3;
    }
  }

  &__grid {
    display: grid;

    @media @desktop {
      grid-template-columns: auto 1fr;
      grid-gap: 50px 35px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;

    @media @desktop {
      font-size: 36px;
      grid-row: 1/2;
      grid-column: 1/3;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__wrap-img {
    margin-top: 10px;
  }

  &__label {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;

    @media @desktop {
      font-size: 18px;
    }
  }

  &__input {
    width: 100%;
    padding: 15px 25px;
    border-width: 0;
    background-color: @input-bg;
    border-radius: 6px;

    @media @desktop {
      font-size: 18px;
    }

    &::placeholder {
      color: @input-placeholder-color;

      @media @desktop {
        font-size: 18px;
      }
    }
  }

  &__select {
    width: 100%;
    line-height: 22px;
    padding: 15px 20px;
    border-width: 0;
    background-color: @input-bg;
    border-radius: 6px;
    color: @input-placeholder-color;
    appearance: none;
    background-image: url('../img/down-circle-select.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 25px) center;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: @accent-color;
    }

    &:active {
      background-color: rgb(89, 105, 96);
    }

    @media @desktop {
      grid-column: span 3;
      font-size: 20px;
    }
  }

  &__label-checkbox {
    display: flex;
  }

  &__checkbox-text {
    cursor: pointer;
    font-size: 12px;
    line-height: 130%;

    @media @desktop {
      font-size: 18px;
    }
  }

  &__checkmark {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    border: 2px solid @accent-color;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media @desktop {
      margin-right: 16px;
    }

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      background-color: @accent-color;
      opacity: 0;
    }
  }

  &__checkbox:checked + &__checkmark::before {
    opacity: 1;
  }

  &__form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 30px;

    @media @desktop {
      grid-template-columns: auto 1fr 1fr;
    }
  }

  &__wrap-checkboxes {
    grid-column: 2/3;
    grid-row: 4/6;
    margin-top: 30px;
    display: grid;
    align-content: space-between;

    @media @desktop {
      grid-column: 2/4;
      grid-template-columns: 280px 1fr;
      row-gap: 35px;
    }
  }

  &__wrap-select {
    @media @desktop {
      width: 180px;
      grid-row: 4/6;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline {
  display: inline;
}
